:root {
    --bg-a: lightgrey;
    --bg-b: rgb(39, 39, 39);
    --bg-c: rgb(19, 19, 19);
    --bg-d: black;

    --color-cta: #C92574;
    --color-identity: #713CB4;
    
    --font-mono: monospace;

    /** Categories */
    --palette-prog: #10aa60;
    --palette-game: #3C56B4;
}

body {
    color: #fff;
    background-color: var(--bg-d);

    font-family: "Noto Sans", sans-serif;
}

.panel {
    background-color: var(--bg-c);
    border: 1px solid var(--bg-b);
    padding: 0.5em 2em;
}

.icon-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}