:root, ::backdrop {
    --bg-a: lightgrey;
    --bg-b: rgb(39, 39, 39);
    --bg-c: rgb(19, 19, 19);
    --bg-d: black;

    --color-cta: #C92574;
    --color-identity: #713CB4;
    
    --font-mono: "PT Mono", monospace;

    /** Categories */
    --palette-prog: #10aa60;
    --palette-game: #3C56B4;
    --palette-chat: #b43c78;
}

body {
    color: #fff;
    background-color: var(--bg-d);

    font-family: "Noto Sans", sans-serif;
}

.panel {
    background-color: var(--bg-c);
    border: 1px solid var(--bg-b);
    padding: 0.5em 0.85em;
}

.icon-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.input-cta {
    border: none;
    background-color: var(--color-cta);
    padding: 0.75em 1.25em;
    border-radius: 1px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.split-layout {
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 1em;
}

@media (min-width: 1400px) {
    .split-layout {
        display: grid;
        grid-template-columns: auto 300px;
    }
}